# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs
shopt -s huponexit no_empty_cmd_completion

#PATH=$PATH:$HOME/.local/bin:$HOME/bin

#export PATH
